# /etc/systemd/system/onepassword-connect.service

[Unit]
Description=OnePassword Connect Service
Requires=docker.service
After=docker.service

[Service]
Type=simple
User=ec2-user
Group=ec2-user
WorkingDirectory=/home/ec2-user/onepassword-connect
ExecStart=/home/ec2-user/start-onepassword-connect.sh
ExecStop=/home/ec2-user/.local/bin/docker-compose down
TimeoutStartSec=0
Restart=on-failure

[Install]
WantedBy=multi-user.target
