# /etc/systemd/system/onepassword-connect.service

[Unit]
Description=OnePassword Connect Service
Requires=docker.service
After=docker.service
StartLimitIntervalSec=60

[Service]
WorkingDirectory=/home/ec2-user/onepassword-connect
ExecStart=/home/ec2-user/start-onepassword-connect.sh
ExecStop=/usr/local/bin/docker-compose down
TimeoutStartSec=0
Restart=on-failure
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
